:root {
    --bottom-shadow: 0px 1px black;
}

#header {
    height: 5vh;
    padding: 20px 10px 20px;
    font-size: 40px;
    background-color: rgb(224, 68, 118);
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}
#body {
    display: flex;
    flex: 1;
}

#left {
    width: 350px;
    background-color: rgb(207, 217, 217);
    padding-left: 30px;
}

#left-top, #left-bottom {
    margin-top: 50px;
}

#left-top p, #left-bottom p {
    font-size: 20px;
}

#right {
    flex: 1;
    margin-left: 60px;
    margin-right: 60px;
}

#project-header {
    margin-top: 40px;
    font-size: 30px;
}

#add-todo-text {
    font-size: 20px;
}

#todoForm {
    display: flex;
    justify-content: space-between;
}
#todoForm input, #todoForm select, #todoForm button,
.formInTodo input, .formInTodo select, .formInTodo button {
    margin-right: 20px;
    height: 30px;
}

.formInTodo {
    padding-top: 20px;
}


#todoForm {
    padding-bottom: 30px;
    box-shadow: var(--bottom-shadow);
}

#todoContainer {
    display: flex;
    flex-direction: column;
    gap: 7px;
}
.todoDOM {
    cursor: pointer;
    min-height: 80px;
    box-shadow: var(--bottom-shadow);
    overflow: auto;
    background-color: aliceblue;
    padding-right: 20px;
    padding-left: 20px;
}

.todoMainContent.hidden, .formInTodo.hidden, .expanded.hidden {
    display: none;
}

.todoTop {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
}

.todoTopRight {
    display: flex;
    gap: 5px;

}

.title, .description, .dueDate {
    background-color: white;
    padding: 5px;
}

.title {
    font-size: 25px;
}

.expanded {
    padding: 10px 10px 0px;
    height: 100px;
    float:top;
}
.expanded.hidden {
    display: none;
}

/* .description.hidden {
    display: none;
} */

.low-priority {
    border-left: rgb(255, 254, 240) solid 15px;
}

.medium-priority {
    border-left: orange solid 15px;
}
.high-priority {
    border-left: red solid 15px;
}